* {
  box-sizing: border-box !important;
  font-family: Montserrat !important;
}
html {
  background-color: transparent !important;
  overflow: visible !important;
}
body {
  background: #fff;
}
body .navbar {
  background: transparent;
}
.index-content {
}
.index-content h4 {
  color: #535353 !important;
  font-size: 22px !important;
  margin: 0 0 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
.index-content h4 .icon {
  margin: -2px 10px 0 0%;
  color: #3d5973;
  display: none;
}
.navbar {
  padding: 10px 0px 6.18px 0px;
}
.navbar-start {
  margin: 0 0 0 50px;
}
.navbar-start a {
  font-weight: 700;
  color: #5b5b5b;
  border: 0px solid #dbdbdb;
  padding: 7px 20px 15px;
  border-radius: 12px;
  font-size: 12px;
  text-transform: uppercase;
  height: auto;
}
.navbar-start a:hover {
  text-decoration: underline;
  color: #ae2b2b;
}
.navbar-brand-header {
}
.navbar-brand-header img {
  max-height: 100%;
  width: 110px;
}
.el-divider--vertical {
  display: none !important;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  /* filter: blur(1rem); */
}
button {
  cursor: pointer;
}
/* .container {
  max-width: 1020px;
  margin: 0 auto;
} */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
/* footer {
  float: left;
  width: 100%;
  margin: 120px 0 0 0;
} */
.meny-cabinet {
  padding: 0 0 0 100px;
}
:deep(.ql-editor) {
  min-height: 200px;
}
:deep(.ql-toolbar.ql-snow) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
:deep(.ql-container.ql-snow) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.admin-meny {
  position: absolute;
  right: -200px;
}
.footer {
  background-color: #f4f4f4 !important;
  color: #989898;
  padding: 30px 40px 20px !important;
  border-radius: 12px;
  margin: 100px 0 30px;
  float: left;
  width: 100%;
}
.social-links {
  margin: 0 0 20px;
}
.social-links a {
  margin: 0 5px 0 0;
  color: #6e6e6e;
  display: inline-block;
}
.social-links a:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.social-links a .icon {
  height: 40px;
  width: 40px;
}
.footer p {
  margin: 0 0 10px !important;
}
.f-phone {
  color: #6e6e6e;
}
.meny-nav {
  position: relative;
}
.meny-nav > button {
  margin: 0 0 0 50px;
}
.navbar-menu .navbar-start {
  align-items: center;
}
.meny-nav-cat {
  position: absolute;
  background: #fff;
  padding: 30px 30px 15px;
  border-radius: 14px;
  width: 430px;
  margin: 10px 0 0 50px;
  box-shadow: 0px 0px 16px -15px #000000;
}
.meny-nav-cat a {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
}
.meny-nav-img {
  height: 70px;
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 15px 0 0;
}
.meny-nav-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.meny-nav-title {
}
.el-popup-parent--hidden {
  overflow: hidden;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1100px !important;
  }
}
.video-index .index-b-modal {
  background-color: transparent !important;
  color: #fff !important;
  box-shadow: rgba(8, 27, 75, 0.35) 0px 6px 20px -6px;
  padding: 7px 12px;
  border-radius: 8px !important;
  font-weight: 400;
  height: auto;
  font-size: 16px !important;
  border: 1px solid #fff !important;
}
.video-index .index-b-modal:hover {
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow: rgba(8, 27, 75, 0.35) 0px 2px 0px;
  transition: all 0.2s ease 0s;
  color: #333 !important;
}
.cat-b {
  color: #142637 !important;
  background-color: transparent !important;
  transition: all 0.3s ease-in;
  font-size: 14px !important;
  border: 1px solid #142637 !important;
  margin: 10px 0 !important;
  padding: 10px 14px !important;
  border-radius: 8px !important;
  height: auto !important;
}
.cat-b:hover {
  background: #142637 !important;
  color: #fff !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.send-form {
  border: 1px solid #999999 !important;
  background: #fff !important;
  color: #333;
  transition: all 0.4s;
}
.send-form:hover {
  background: #4c4c4c !important;
  color: #fff !important;
  border-color: #4c4c4c !important;
}
.modal-succes {
  background: #b4e3a7;
  padding: 40px;
  border-radius: 18px;
  position: fixed;
  z-index: 99999;
  display: block;
  float: left;
  top: 80px;
  left: 0;
  right: 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.modal-succes strong {
  float: left;
  width: 100%;
  margin: 0 0 10px;
  font-size: 21px;
}
.modal-succes p {
  float: left;
  width: 100%;
  font-size: 15px;
}
.modal-succes .delete {
  float: left;
  position: absolute;
  top: 20px;
  right: 20px;
}
.rev-b-modal {
  background: #dfdfdf !important;
  border-radius: 8px !important;
  border-color: #a4a4a4 !important;
  border: none !important;
  padding: 5px 15px !important;
  /* border-bottom: 1px solid #4a4a4a !important; */
  color: #040404 !important;
  margin: 15px 0 5px;
  font-size: 15px !important;
}
.breadcrumb {
  margin: 80px 0 20px;
}
.breadcrumb ul {
  margin: 0;
  margin: 0 0 20px !important;
}
.breadcrumb ul li {
  margin: 0 !important;
  height: 24px;
}
.breadcrumb ul li a {
  color: #000;
  font-size: 13px;
}
.field-pm {
  padding: 30px;
  background: #505050;
  border-radius: 6px;
  margin: 15px 0 15px;
}
.field-pm > span {
  margin: 0px 0 20px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  color: #fff;
}
.cover-video-index {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.video-index {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e2e2e2;
}
.video-index > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cover-image-fon {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(-1deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%));
}
.video-block-inf {
  display: flex;
  align-items: baseline;
  padding: 210px 0 100px;
  border-radius: 22px;
  color: #fff;
  flex-flow: column;
  justify-content: center;
  z-index: 22;
  position: relative;
}
.index-rew-block-desc .is-light.button {
  color: #0069ff;
}
.index-rew-block-desc .is-light.button:hover {
  color: #0069ff;
}
.video-block-inf > h1 {
  color: #fff;
  width: 60%;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
}
.video-block-inf > h2 {
  width: 50%;
  font-size: 17px;
  font-weight: 500;
  margin: 20px 0 80px;
}
.block {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  border-radius: 5px;
  padding: 20px;
  background: #f9f9f9;
}
.block-img {
  float: left;
  width: 250px;
  height: 150px;
  margin: 0 20px 0 0;
}
.block-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: cover;
  border-radius: 17px;
}
.index-top {
  padding: 20px;
  border-radius: 15px;
  background: #fff;
  height: 380px;
  color: #000;
  float: left;
  width: 100%;
}
.index-top:hover {
  transition: 0.2s;
  color: #610101;
}
.index-top-img {
  height: 240px;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-top img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.index-top strong {
  font-size: 15px;
  height: 70px;
}
.post h1 {
  font-size: 42px;
  margin: 0 0 35px;
  font-weight: 800;
}
.post-img {
  width: 100%;
  height: 460px;
  border-radius: 12px;
  margin: 0 0 60px;
}
.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
}
.post-top {
  width: 100%;
  padding: 0 0 0 0px;
}
.post-top-item {
  border-radius: 14px;
  padding: 0 10px 0 0px;
}
.post-top-item .el-checkbox {
  width: 100%;
}
.post-top-item .el-checkbox__inner {
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  padding: 6px;
}
.post-top-item .el-checkbox__label {
  font-size: 14px;
  font-weight: 600;
}
.post-desk {
}
.post-desk img {
  border-radius: 22px;
  width: 100%;
}
.post-a-item {
  float: left;
  width: 100%;
}
.post-a-item {
  text-decoration: none;
  color: #000;
}
.catalog-block {
  height: 180px;
  float: left;
  width: 100%;
  margin: 0 0 10px;
}
.catalog-block a {
  float: left;
  width: 100%;
  color: #000;
  height: 100%;
}
.catalog-block-img {
  width: 50%;
  height: 180px;
  float: left;
}
.catalog-block-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 0px 26px -14px rgb(0 0 0 / 66%);
}
.catalog-block-desc {
  padding: 0 0 0 15px;
  float: left;
  height: 180px;
  display: flex;
  align-items: center;
  width: 50%;
}
.catalog-block-desc > strong {
  float: left;
  width: 100%;
  margin: 20px 0 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.catalog-block-desc > span {
  float: left;
  width: 100%;
  height: 80px;
  display: none;
}
.img-cat-index {
  float: left;
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 20px;
}
.img-cat-index img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: contain;
  position: absolute;
  right: -30px;
  top: -27px;
}
.img-cat-index-inf {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  padding: 0px 130px 0 20px;
  display: flex;
  align-items: center;
  /* background: #0000006b; */
  border-radius: 16px;
  color: #fff;
  font-weight: 700;
}
.swiper {
  border-radius: 6px;
}
.slider {
  float: left;
  width: 100%;
  margin: 0px 0 0px;
}
.block {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  border-radius: 5px;
  padding: 20px 0 0 0;
  background: #f9f9f9;
}
.slider-one {
  float: left;
  width: 100%;
  position: relative;
}
.slider-one-navigation {
  position: relative;
  float: left;
  width: 100%;
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slider-one-navigation span {
  font-family: Caveat !important;
  font-size: 27px;
  color: #333;
}
.swiper-button-next {
}
.swiper-button-prev {
}
.slider-one-svg {
  width: 67px;
  height: 54px;
  position: relative;
  top: -3px;
}
.slider-one-navigation .swiper-button-next svg,
.slider-one-navigation .swiper-button-prev svg {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-one-navigation .swiper-button-next svg {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  float: left;
}
.slider-one-navigation .swiper-button-next,
.slider-one-navigation .swiper-button-prev {
  background: none !important;
  box-shadow: none !important;
  height: auto !important;
  width: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  right: 0;
  left: 0;
}
.slider-one-navigation .swiper-button-prev:after,
.slider-one-navigation .swiper-button-next:after {
  display: none;
}

.slider-one-navigation .swiper-button-next-gal svg,
.slider-one-navigation .swiper-button-prev-gal svg {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-one-navigation .swiper-button-next-gal svg {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  float: left;
}
.slider-one-navigation .swiper-button-next-gal,
.slider-one-navigation .swiper-button-prev-gal {
  background: none !important;
  box-shadow: none !important;
  height: auto !important;
  width: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  right: 0;
  left: 0;
  cursor: pointer;
}
.slider-one-navigation .swiper-button-prev-gal:after,
.slider-one-navigation .swiper-button-next-gal:after {
  display: none;
}

.swiper-creative .swiper-slide {
  /* padding: 0 0px 0 30px; */
}
.slider-one .swiper-pagination {
  bottom: 15px !important;
}

.slider-one .swiper-slide {
  position: relative;
  padding: 0px 0px 0px 0;
  margin: 0 0 0px;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  max-height: 400px;
  align-content: flex-start;
}
.two-block {
  position: relative;
  padding: 130px 50px 60px;
  float: right;
  width: 31%;
  border-radius: 12px;
  height: 340px;
}
.slider-one .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}
.gall-slider {
  margin: 60px 0 120px;
  float: left;
  width: 100%;
}
.index-gall-desc {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 17px;
  line-height: 1.6;
  padding: 0 50px 0 0;
  margin: 0 0 20px;
}
.slider-one .swiper-slide img:hover {
}

.slider-one .image-grid {
  object-fit: cover;
  border-radius: 6px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px 10px;

  width: 33.3333% !important;
}

.image-1 {
  height: 200px !important;
}
.image-2 {
  height: 180px !important;
}
.image-3 {
  height: 150px !important;
}
.image-4 {
  height: 250px !important;
}
.image-5 {
  height: 220px !important;
}
.image-6 {
  height: 130px !important;
}
.image-1-spechal {
  height: 300px !important;
}
.image-2-spechal {
  height: 150px !important;
}
.image-3-spechal {
  height: 250px !important;
}
.image-4-spechal {
  height: 220px !important;
}
.image-5-spechal {
  height: 130px !important;
}
.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.swiper-button-prev-custom {
  left: 10px;
}
.swiper-button-next-custom {
  right: 10px;
}
.video-gal,
.rev-dialog,
.modal-form {
  border-radius: 17px !important;
  padding: 40px !important;
}
.video-gal .plyr--video {
  border-radius: 12px;
}
.video-gal-item {
  margin: 0px 0 40px;
}
.video-gal .el-dialog__title {
  font-size: 26px;
  width: 100%;
  margin: 20px 0 20px;
  line-height: 1.3;
  font-weight: 700;
  padding: 0 0 15px;
  border-bottom: 1px solid #9f9f9f;
  display: block;
}
.video-gal-desc {
  margin: 30px 0 0;
  font-size: 15px;
}
.video-gal .el-icon,
.modal-form .el-icon,
.rev-dialog .el-icon {
  height: 3em;
  width: 3em;
  color: #333 !important;
}
.video-gal .el-icon svg,
.modal-form .el-icon svg,
.rev-dialog .el-icon svg {
  height: 3em;
  width: 3em;
}
.video-gal .el-dialog__headerbtn,
.rev-dialog .el-dialog__headerbtn,
.modal-form .el-dialog__headerbtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.video-gal .el-dialog__header {
  margin-right: 0px;
}
.video-slide {
  margin: 0 0 100px;
}
.video-slide .swiper-slide {
  position: relative;
  padding: 0px 0px 0px 0;
  float: left;
  /* width: 100% !important; */
  border-radius: 12px;
  margin: 0 0 0px;
  height: 130px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.video-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.video-slide-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(51 51 51 / 15%);
  color: #ffffff8a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.video-slide-bg > .icon {
  width: 45px;
  height: 40px;
  /* opacity: 0.7; */
}
.video-slide-bg:hover {
  transition: 0.2s;
  background: rgb(0 0 0 / 34%);
  box-shadow: 0px 0px 26px -14px rgb(0 0 0 / 46%);
}
.video-slide-bg:hover .icon {
  transition: 0.2s;
  opacity: 1;
}
.video-all {
  margin: 20px 0 0 0;
}
.video-all a {
  color: #333;
  font-size: 23px;
  font-family: Caveat !important;
  font-weight: 500;
}
.video-all .icon {
}
.one-block-inf {
  float: left;
  width: 100%;
  color: #ffffff;
  position: relative;
  background: #281f0b;
  padding: 10px;
  max-width: 290px;
  border-radius: 2px;
}
.one-block-inf strong {
  float: left;
  width: 100%;
  font-size: 21px;
  /* margin: 0 0 20px; */
  line-height: 1.4;
  font-weight: 700;
}
.one-block-inf span {
  float: left;
  width: 100%;
  font-size: 17px;
}
.rating-circle {
  position: absolute;
  left: 0px;
  background: #f6f8f7;
  z-index: 9;
  padding: 20px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 700;
  top: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border: 3px solid;
  box-shadow: 0 0 0px 15px #f6f8f7;
}
.rating-circle:after {
  content: "";
  position: absolute;
  right: -48px;
  width: 59px;
  height: 40px;
  background: #f6f8f7;
  top: -10px;
  border-radius: 0px 183px 59px 55px;
  background: radial-gradient(
    circle at top left,
    transparent 47%,
    #f6f8f7 46.5%
  );
  transform: rotate(180deg);
}
.rating-circle:before {
  content: "";
  position: absolute;
  left: -28px;
  width: 59px;
  height: 60px;
  background: #f6f8f7;
  bottom: -55px;
  border-radius: 0px 217px 33px 74px;
  background: radial-gradient(
    circle at top left,
    transparent 47%,
    #f6f8f7 46.5%
  );
  transform: rotate(273deg);
  transform: scale(-1, -1);
}
.star-icon {
  position: absolute;
  right: 0px;
  top: -3px;
  font-size: 26px;
  background: #f6f8f7;
  color: #ff2f00;
  border-radius: 50%;
  z-index: 12;
}
.play-icon {
  position: absolute;
  right: 50px;
  /* bottom: 0px; */
  font-size: 51px;
  color: #fff;
}
.post-top-link {
  text-decoration: underline;
  color: #5a5a5a;
  font-size: 14px;
  margin: 0 0 15px;
  float: left;
  width: 100%;
}
.post-top-link > strong {
  font-weight: 700;
}
.swiper .swiper-button-next,
.swiper-button-prev {
  background: #ffffff21;
  border-radius: 50%;
  box-shadow: 0 0 9px -7px #333;
  display: flex;
  height: 44px !important;
  width: 44px !important;
}
.swiper .swiper-button-next:after,
.swiper-button-prev:after {
  color: #e4e4e4;
  font-size: 16px !important;
}
.slider-one .swiper-button-prev {
  left: 25px;
  bottom: 0px !important;
  top: auto;
}
.slider-one .swiper-button-next {
  right: 25px;
  bottom: 0px !important;
  top: auto;
}
.nav-cat {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 0 0 5px;
  border-radius: 11px;
  line-height: 1.3;
  font-size: 13px;
  height: 60px;
  font-weight: 600;
  color: #333;
}
.nav-cat.router-link-exact-active {
  background: #142637;
  color: #fff;
}
.nav-cat > .icon {
  margin: 0 10px 0 0;
  width: 35px;
}
.m-cat-nav {
  margin: 40px 0 30px;
  float: left;
  width: 100%;
}
.pagination-list {
  margin: 20px 0 0;
  float: left;
  width: 100%;
  text-align: left !important;
  justify-content: flex-start !important;
}
.pagination-list li {
  padding: 18px !important;
  border-radius: 10px !important;
  font-size: 17px !important;
}
.pagination-list li.is-active {
  background-color: #142638 !important;
}
.pagination-list button {
  background-color: transparent !important;
}
.container .content h1 {
  font-size: 1.8em;
  float: left;
  width: 100%;
}
.upload-demo ul {
  margin-left: 0em !important;
}
.cat-h1-cab {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}
.cat-h1-cab h1 {
  float: left;
}
.cat-h1-cab button {
  float: right;
  font-size: 15px;
  border-radius: 5px;
}
.ql-editor {
  min-height: 350px;
}
.drawer-cat-all {
  margin: 30px 0 0 0;
}
.drawer-add {
}
.drawer-block {
  padding: 25px 100px;
}
.drawer-cat {
  border-radius: 4px;
  min-height: 36px;
  /* background: #e2e4e6; */
  padding: 15px 15px 15px 0;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drawer-cat-img {
  height: 110px;
  width: 180px;
  margin: 0 20px 0 0;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawer-cat-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.drawer-cat-left {
  display: flex;
  align-items: center;
}
.drawer-cat-right {
  display: flex;
  align-items: center;
}
.drawer-cat-left span {
  font-size: 15px;
  margin: 0 20px 0 0;
}
.drawer-cat-left span {
}
.drawer-cat-right button {
  margin: 0 0px 0 10px;
}
.drawer-cat-all {
  float: left;
  width: 100%;
}
.drawer-cat-all .el-collapse-item {
}
.drawer-cat-all .el-collapse {
}
.drawer-cat-all .el-collapse-item__header {
  background: transparent;
  font-size: 19px;
  padding: 40px 0;
}
.drawer-cat-all .el-collapse-item__wrap {
  background: transparent;
}
.el-pagination {
  float: left;
  width: 100%;
}
.system-tabs {
  float: left;
  width: 100%;
  margin: -30px 0 100px;
}
.system-tabs .el-tabs__content {
  overflow: visible;
}
.system-tabs .el-tabs--left .el-tabs__active-bar.is-left {
  left: 0;
  width: 4px;
  border-radius: 5px;
  background: #e2e2e2;
}
.system-tabs .el-tabs--left .el-tabs__nav-wrap.is-left::after {
  width: 0;
}
.system-tabs .el-tabs__header {
  width: 35%;
  margin-right: 0px !important;
}
.system-tabs .el-tabs {
  overflow: visible;
}
.system-tabs .el-tabs__nav {
  width: 100%;
}
.system-tabs .custom-tabs-label > strong {
  float: left;
  width: 100%;
  font-size: 17px;
  color: #a2a2a2;
}
.system-tabs .custom-tabs-label > p {
  float: left;
  width: 100%;
  font-size: 15px;
  margin: 10px 0;
  line-height: 1.6;
  color: #a2a2a2;
}

.system-tabs .is-active strong,
.system-tabs .is-active p {
  color: #333;
}
.system-tabs .el-tabs__item:hover strong,
.system-tabs .el-tabs__item:hover p {
  transition: 0.2s;
  color: #333;
}
.system-tabs .el-tabs__item.is-left {
  text-align: left !important;
  font-size: 19px;
  padding: 10px 0px 10px 30px;
  float: right;
  width: 100%;
  height: auto;
  display: block;
  white-space: break-spaces;
  margin: 0 0 10px;
}
/* .affix-container{

} */
.el-affix {
  width: auto !important;
}
.system-tabs .el-tabs--left .el-tabs__header.is-left {
  padding: 70px 0 0;
}
.system-tabs .el-tab-pane {
  padding: 0px 0% 0 10%;
  overflow: visible;
  float: left;
  width: 65%;
}
.system-tabs video {
  height: auto;
  max-width: 100%;
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
  margin: 0 0 90px;
  position: relative;
  top: 70px;
  box-shadow: rgba(0, 12, 121, 0.1) 0px 30px 80px,
    rgba(0, 12, 121, 0.1) 0px 12px 24px;
}
.footer .f-dev {
  font-size: 15px;
  margin: 0 0 0 0px !important;
}
.f-dev span {
  color: #637d5f;
}
.f-dev a {
  margin: 0 0 0 5px;
  font-weight: 600;
  color: #637d5f;
}
.work-svg {
  width: 35px;
  height: 50px;
  display: inline-block;
}
.work-svg svg {
  position: relative;
  top: 31px;
  left: 8px;
  /* transform: skew(80deg, 80deg); */
  transform: rotate3d(1, 1.6, 0, 181deg);
  height: 100%;
  width: 100%;
}
.diagonal {
  position: relative;
}
.diagonal:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(/hatch-diagonal.svg);
  opacity: 0.5;
  width: 99vw; /* Полная ширина экрана */
  left: 50%; /* Смещение на половину экрана влево */
  right: 50%; /* Смещение на половину экрана вправо */
  margin-left: -50vw; /* Корректировка отрицательного маргина */
  margin-right: -50vw; /* Корректировка отрицательного маргина */
}
.diagonal:after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(closest-side, #3f87a600, #ebf8e100, #fff);
  opacity: 0.8;
  width: 99vw; /* Полная ширина экрана */
  left: 50%; /* Смещение на половину экрана влево */
  right: 50%; /* Смещение на половину экрана вправо */
  margin-left: -50vw; /* Корректировка отрицательного маргина */
  margin-right: -50vw; /* Корректировка отрицательного маргина */
}
.stage-index {
  margin: 0px 0 100px;
}
.stage-index .el-collapse {
  border-top: 1px solid #f6f8f7;
  border-bottom: 1px solid #f6f8f7;
}
.stage-index .el-collapse-item__header {
  background: transparent;
  padding: 50px 45px;
  height: auto;
  border-bottom: 1px solid #d3d8df;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  line-height: 1.5;
  border-radius: 0px;
}
.stage-index .el-collapse-item {
  margin: 0 0 0px;
}
.stage-index .el-collapse-item__header .el-icon {
  height: 1.5em;
  width: 1.5em;
  opacity: 0.4;
}
.stage-index .el-collapse-item__header .el-icon svg {
  height: 1.5em;
  width: 1.5em;
}
.stage-index .el-collapse-item__header .icon {
  margin: 0 20px 0 0;
}
.stage-index .el-collapse-item__wrap {
  background: transparent;
  border-bottom: 1px solid transparent;
  padding: 0px 45px 0px;
}
.stage-index .el-collapse-item__header.is-active {
  border: 1px solid transparent;
}
.stage-index-desc {
  font-size: 16px;
  line-height: 1.4;
}
.stage-index-desc li {
  margin: 0 0 10px;
  line-height: 1.4;
}
.stage-index-img {
  float: left;
  width: 100%;
  padding: 40px 0 40px;
}
.stage-index-img img {
  float: left;
  width: 180px;
  height: 150px;
  border-radius: 14px;
  margin: 0 25px 20px 0;
}
.stage-index .el-collapse-item.is-active {
  border-bottom: 1px solid #d3d8df;
  /* border-radius: 12px; */
  margin: 0 0 20px;
}
.reviews-slide {
  margin: 0 0 80px;
}
.reviews-slide .swiper-slide {
  position: relative;
  padding: 0px 0px 0px 0;
  float: left;
  /* width: 100% !important; */
  margin: 0 0 0px;
  height: 220px;
}
.index-rew {
}
.index-rew-block {
  float: left;
  width: 100%;
}
.index-rew-block-img {
  float: left;
  width: 200px;
  height: 220px;
}
.index-rew-block-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}
.index-rew-block-desc {
  margin: 0 0 0 230px;
  padding: 0 20px 0 0;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index-rew-block-desc > strong {
  font-size: 17px;
  margin: 0 0 15px;
  float: left;
  width: 100%;
}
.index-rew-block-desc > div {
  font-size: 15px;
  line-height: 1.6;
}
.reviews-slide .swiper-button-next,
.reviews-slide .swiper-button-prev {
  background: rgb(0 0 0 / 35%);
}
.reviews-slide .index-rew-block-desc p {
  margin-bottom: 10px;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.rev-dialog {
  border-radius: 17px !important;
  padding: 25px;
}
.rev-dialog .el-dialog__body p {
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 1.5;
}
.project-block {
}
.project-item {
  float: left;
  width: 100%;
}

.PhotoConsumer {
  float: left;
  width: 55%;
  border-radius: 12px;
  background: #fff;
  height: 300px;
}
.PhotoConsumer img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.project-block-info {
  float: left;
  width: 100%;
  padding: 0 0px 0 0px;
}
.product-block-desc {
  float: left;
  width: 80%;
  padding: 50px 30px 0 0px;
}
.product-order-block button {
  border-radius: 10px;
  font-size: 16px !important;
  font-weight: 600;
  padding: 24px !important;
}
.product-order-block-price {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}
.product-order-block-price > strong {
  font-size: 40px;
  font-weight: 600;
}
.product-order-block-price > span {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 5px;
}
.project-block-city {
  margin: 0 0 30px;
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 17px;
}
.project-galeery {
  height: 420px;
  float: left;
  width: 100%;
}
.project-galeery-mini {
  height: 222px;
  width: 50%;
  float: left;
  padding: 0.75rem;
}
.project-galeery img,
.project-galeery-mini img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}
.project-video {
  float: left;
  width: 100%;
  margin: 80px 0 70px;
  height: 550px;
  border-radius: 17px;
  overflow: hidden;
}
.project-video .plyr--video {
  height: 100%;
}
.video-item-project {
  height: 100%;
}
.project-block-desc {
  float: left;
  width: 100%;
  margin: 0px 0 70px;
  font-size: 16px;
}
.item-rew {
}
.item-rew-block {
  float: left;
  width: 100%;
}
.item-rew-block-img {
  float: left;
  width: 240px;
  height: 300px;
}
.item-rew-block-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 17px;
  cursor: pointer;
}
.item-rew-block-desc {
  margin: 0 0 0 280px;
}
.item-rew-block-desc > strong {
  font-size: 20px;
  margin: 0 0 20px;
  float: left;
  width: 100%;
}
.item-rew-block-desc > div {
  font-size: 16px;
  line-height: 1.6;
}
.item-rew > h2 {
  margin: 20px 0 30px;
}
.breadcrumb-item {
  margin: 80px 0 40px 0;
  font-size: 12px !important;
}
.h1-catalog {
}
.button-rew-index {
  margin: 10px 0 0;
  width: 170px !important;
  color: #636363 !important;
  font-size: 13px !important;
  border-radius: 6px !important;
  height: auto !important;
  padding: 7px 0px !important;
  border: 0px solid #999999 !important;
  background: #fff !important;
  transition: all 0.4s;
}
.button-rew-modal {
  border: 1px solid #999999 !important;
  background: #fff !important;
}
.button-rew-index:hover,
.button-rew-modal:hover {
  background: #fff !important;
  color: #000 !important;
  /* border-color: #4c4c4c !important; */
}
.stage-index .el-collapse-item:first-child .el-collapse-item__header {
  border-top: 1px solid #d3d8df;
}
.m-block {
  display: none !important;
}
.m-none {
  display: block !important;
}
.index-rew-slider-img {
  float: left;
  width: 100%;
  height: 180px;
}
.index-rew-slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 17px;
  cursor: pointer;
}
.rev-dialog .swiper {
  margin: 0 0 30px;
}
.modal-form {
}
.fix-nav {
  position: fixed;
  top: 0;
  z-index: 222;
  background: #fff;
  left: 0;
  right: 0;
}
.nav-review {
  margin: 40px 0 0 0;
}
.publick-review {
}
.img-about {
  width: 100%;
  height: auto;

  height: 360px;
}
.img-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}
.meny-nav-cat {
  width: auto !important;
  height: auto !important;
  left: 5px !important;
  right: 5px !important;
  margin: 0;
  top: 5px !important;
  bottom: 5px !important;
  background: #262626 !important;
}
.meny-nav-cat a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 15px;
  margin: 10px 0;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
}
.meny-nav-cat .el-drawer__close-btn {
  padding: 0;
}
.meny-nav-cat .el-drawer__header {
  padding: 0;
}
.meny-nav-cat .el-drawer__close-btn .el-icon {
  height: 1em;
  width: 1em;
  font-size: 44px;
  color: #fff;
}
.navbar-phone {
  padding: 7px 0px 15px;
}
.navbar-phone a {
  color: #142637;
  font-size: 14px;
  font-weight: 500;
}
.navbar-phone .icon {
  color: #df2222;
  margin: 0 0px 0 5px;
  transform: scaleX(-1);
  top: -1px;
  position: relative;
}
.navbar-phone-mobail {
}
.navbar-phone-mobail .icon {
  color: #df2222;
  transform: scaleX(-1);
}
.button-back {
  cursor: pointer;
  position: relative;
  top: -1px;
  margin: 0 10px 0 0;
}
.button-back > strong {
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 0 5px;
}
.button-back > span {
  margin: 0 0 0 15px;
}
.button-back .icon {
}
.button-back:hover {
  opacity: 0.6;
}
.twobefore li:nth-child(2)::before {
  content: "" !important;
}
.h1-project {
  margin: 30px 0 0 0;
}
.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}
.dropdown-header a {
  color: #000;
}
.opacitynull {
  opacity: 0 !important;
}
.dscription-cat {
  float: left;
  width: 100%;
  margin: 100px 0 20px;
  line-height: 1.6;
}
.calk-block {
  padding: 30px;
  background: #f1f1f1;
  cursor: pointer;
  border-radius: 8px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.4s;
}
.calk-block .icon {
  font-size: 28px;
  height: 40px;
  width: 40px;
}
.calk-block strong {
  margin: 10px;
  font-size: 17px;
  font-weight: 600;
}
.calk-block:hover {
  background: #dcdcdc;
}
.calk-block-group {
  margin: 20px 0 20px;
  padding: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.calk-block-group-title {
  font-weight: 600;
  font-size: 19px;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.calk-collapse {
}
.calk-collapse .el-collapse-item {
  /* padding: 20px 0; */
}
.calk-collapse .el-collapse-item:last-child {
  margin-bottom: -2px;
}
.calk-collapse .el-collapse-item__header {
  font-size: 17px;
  font-weight: 500;
  padding: 15px 0;
  height: auto;
  text-align: left;
  line-height: 1.4;
}
.calk-collapse .el-collapse-item__wrap {
  /* border: none !important; */
}
.fill-type-neme {
  font-size: 15px;
  margin: 15px 0 10px;
}
.desc-calk {
  font-size: 14px;
  margin: 10px 0 0px;
  border-bottom: 2px dotted #e2e2e2;
  padding: 0 0 10px;
  width: auto !important;
  max-width: 70% !important;
}
.back-step {
  font-size: 13px !important;
  padding-left: 5px !important;
  margin: 0 0 20px;
}
.save-pdf {
}
.calk-collapse-item {
  margin: 0 0 15px;
  font-size: 16px;
  background: #efefef;
  display: inline-block;
  padding: 0px 5px;
  border-radius: 6px;
}
.calk-collapse-item b {
  font-weight: 500;
  margin: 0 10px;
}
.calk-collapse-item > strong {
  font-weight: 500;
  margin: 0 10px 0 0;
  font-size: 12px;
}
.calk-collapse .field-control {
  max-width: 500px;
}
.calk-collapse .field-label {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 1.2rem;
  text-align: left;
  font-size: 16px;
}
.calk-collapse-item-cost {
  align-items: center;
  display: flex;
}
.calk-collapse-item-cost strong {
  font-size: 16px;
  font-weight: 500;
}
.calk-collapse-item-cost span {
  font-size: 14px;
}
.calk-block-cost {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
}
.calk-block-cost > div {
}
.calk-block-cost > div > span {
  margin: 0 10px 0 0;
}
.calk-block-cost > div > strong {
  font-size: 21px;
}
.calk-block-cost > div > strong > span {
  font-size: 14px;
}
.full-width {
  width: 100%;
  max-width: 100%;
}
.calk-block-group .el-select {
  max-width: 340px !important;
  width: 100% !important;
}
.h1-calk {
  margin: 150px 0 20px;
}
.calk-collapse .el-collapse-item__content {
  padding-top: 0px !important;
}

.calk-block-cost.reversed-order {
  flex-direction: column-reverse;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.disabled_cack_check .calk-block {
  background: #f1f1f1 !important;
  opacity: 0.4;
}

@media (max-width: 1023px) {
  .calk-block {
    height: 150px;
  }
  .calk-block strong {
    font-size: 16px;
  }
  .h1-calk {
    margin: 80px 0 30px !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 1.2 !important;
  }
  .calk-collapse .el-collapse-item__header {
    font-size: 14px;
    height: auto !important;
    line-height: 1.5;
    padding: 15px 0 15px;
    text-align: left;
  }
  .calk-collapse .field-label {
    line-height: 3 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
  }
  .calk-collapse .field-control {
    max-width: 200px;
  }
  .calk-block-group .el-select {
    width: 200px !important;
  }
  .calk-collapse .el-collapse-item__content {
    padding-bottom: 10px !important;
  }
  .fill-type-neme {
    font-size: 15px;
    margin: 10px 0 5px;
  }
  .desc-calk {
    font-size: 14px;
    margin: 10px 0 0px;
    padding: 0 0 10px;
    border-bottom: 2px dotted #e2e2e2;
    max-width: 100% !important;
  }
  .calk-collapse .field:not(:last-child) {
    margin-bottom: 0rem;
    display: flex;
  }
  .calk-block-group {
    margin: 20px 0 20px;
    padding: 20px;
    border: 1px solid #ededed;
  }
  .calk-block-cost {
    flex-direction: column;
  }
  .calk-block-cost > div {
    margin: 20px 0 0;
  }
  .calk-block-cost .button:first-child {
    margin: 20px 0 0px;
  }
  .button-back {
  }
  .button-back .icon {
    margin-right: 3px !important;
    height: 20px !important;
    width: 20px !important;
  }
  .dscription-cat {
    margin: 60px 0 0px;
  }
  .button-back > strong {
    margin: 0 0 0 0px;
    font-size: 13px;
  }
  .button-back > span {
    margin: 0 0 0 3px;
  }
  .button-back {
    margin: 0 3px 0 0;
  }
  .breadcrumb ul li a {
    padding: 0 0.25em;
  }
  .cat-b {
    font-size: 12px !important;
    margin: 0px 0 20px !important;
  }
  .desck-rev-user {
    transform: translateX(-2vw);
    width: 90vw;
    float: right;
    /* width: 100%; */
    margin: 90px 0 0 0;
  }
  .h1-project {
    margin: 10px 0 0 0;
    font-size: 25px;
  }
  .m-cat-nav .column {
    /* padding: 0 !important; */
  }
  .navbar-start {
    margin: 0 0 0 0px;
    position: absolute;
    left: 70px;
    top: 10px;
  }
  .rev-b-modal {
    margin: 15px 0 0;
    font-size: 13px !important;
  }
  .video-gal,
  .rev-dialog,
  .modal-form {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0px !important;
    padding: 60px 10px !important;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    display: inline-table;
  }
  .rev-dialog .swiper {
    margin: 0 0 30px;
    width: 81vw;
  }
  .video-gal .el-dialog__title {
    font-size: 19px;
  }
  .m-block {
    display: block !important;
  }
  .m-none {
    display: none !important;
  }
  .p-0 {
    padding: 0 !important;
  }
  .h1-catalog {
    font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 1.2 !important;
    margin: 0 0 20px !important;
  }
  .breadcrumb-item {
    margin: 0 0 25px 0;
    font-size: 11px !important;
  }
  .catalog-block {
    height: 160px;
    margin: 0 0 15px;
  }
  .navbar-menu {
    display: block !important;
    background: transparent !important;
    box-shadow: none !important;
    margin: 0 0 0 0px !important;
    padding: 0 0 0 0 !important;
  }
  .navbar-start a {
    font-weight: 500;
    font-size: 12px;
    padding: 0px 20px 3px;
    display: inline-block;
    position: relative;
    top: 0px;
  }
  .navbar-end {
    display: none;
  }
  .navbar-brand {
    float: left;
    padding: 5px 15px 15px;
    height: 15px;
  }
  .navbar-brand-header img {
    height: 100%;
    max-width: 70px;
    height: 21px;
  }
  .navbar {
    padding: 5px 0;
    height: auto;
    min-height: auto !important;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .cover-video-index {
    height: auto;
    overflow: visible;
  }
  .footer {
    margin: 60px 0 1rem;
    padding: 20px 20px 0px !important;
    background-color: #f4f4f4 !important;
  }
  .footer p {
    font-size: 13px;
  }
  .bd-docs-main {
    /* padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem; */
  }
  .navbar-brand-header {
    float: left;
    padding: 5px 0 0px;
  }
  .system-tabs .el-tab-pane {
    padding: 10px 0% 0 0%;
    overflow: visible;
    float: left;
    width: 100%;
  }
  .system-tabs .el-tabs {
  }
  .system-tabs .el-tabs__header {
    width: auto;
    margin-right: 0px !important;
  }
  .system-tabs .el-tabs__item.is-left {
    font-size: 16px;
    padding: 10px 5px 5px 10px;
    margin: 0 0 0px;
    text-align: left !important;
  }
  .system-tabs video {
    height: 260px;
  }
  .system-tabs .custom-tabs-label > p {
    display: none;
  }
  .system-tabs .custom-tabs-label > strong {
    font-size: 14px;
    text-align: left;
  }
  .system-tabs .el-tabs--left .el-tabs__active-bar.is-left {
    width: 2px;
  }
  .system-tabs-mobail {
    margin: -5px 0 60px;
  }
  .system-tabs-mobail video {
    border-radius: 12px;
    box-shadow: 0 30px 80px rgba(0, 12, 121, 0.1),
      0 12px 24px rgba(0, 12, 121, 0.1);
    height: auto;
    height: 260px;
    margin: 0 0 40px;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }
  .system-tabs-mobail .el-tabs__header {
    padding: 0;
    position: relative;
    margin: 0 0 10px;
  }
  .system-tabs-mobail .el-tabs__active-bar {
    background-color: transparent;
  }
  .system-tabs-mobail .el-tabs__item {
    padding: 5px 10px !important;
    max-width: 150px;
    float: left;
    height: 50px;
    word-wrap: break-word;
    white-space: break-spaces;
    line-height: 1.2;
    border: 1px solid #d7d7d7;
    border-radius: 7px;
    margin: 0 5px 0 0;
  }
  .system-tabs-mobail .el-tabs__active-bar.is-left {
    width: 2px;
  }
  .system-tabs-mobail .custom-tabs-label > strong {
    font-size: 13px;
    text-align: left;
    font-weight: 500;
  }
  .system-tabs-mobail .el-tabs__item.is-active {
    color: #000000;
    border: 1px solid #545454;
  }
  .system-tabs-mobail .el-tabs__nav-prev,
  .system-tabs-mobail .el-tabs__nav-next {
    border-radius: 7px;
    margin: 0 0 4px;
    bottom: 16px;
    background: #575757;
    padding: 3px 4px;
    width: auto;
    text-align: center;
  }
  .system-tabs-mobail .el-tabs__header .el-icon {
    font-size: 19px;
    top: 6px;
    color: #fff;
  }
  .system-tabs-mobail .el-tabs__nav-wrap {
    overflow: hidden;
    margin-bottom: -1px;
    position: relative;
    padding: 10px 30px !important;
    /* Обеспечивает плавную прокрутку на iOS */
  }
  .el-tabs__nav-wrap::after {
    height: 0 !important;
  }
  .system-tabs-mobail .el-tabs__nav-scroll {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .system-tabs-mobail .el-tabs__nav-scroll::after {
    content: "";
    height: 0;
  }
  .index-content h4 {
    margin: 0 0 0px !important;
    font-size: 17px !important;
  }
  .work-svg svg {
    width: 27px;
    height: 50px;
    position: relative;
    top: 27px;
    left: 1px;
    transform: rotate3d(1, 1.6, 0, 202deg);
  }
  .sl-m {
    margin: 0px 0 0 0;
  }
  .stage-index .el-collapse-item__header {
    padding: 40px 0px;
    font-size: 16px;
  }
  .system-tabs {
    margin: 10px 0 40px;
    display: flow-root;
    width: auto;
    float: none;
    height: 100%;
  }

  .system-tabs-mobail::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар для более чистого интерфейса */
  }

  .el-tabs__nav-scroll {
    display: flex !important;
    flex-wrap: nowrap !important;
    padding: 0px 0px 10px 0px;
  }

  .el-tabs__item {
    flex: 0 0 auto; /* Оставляем ширину каждого таба авто, чтобы они не сжимались */
  }

  .stage-index {
    margin: 0px 0 60px;
  }
  .index-content h4.rev-h4 {
    margin: 40px 0 0 0 !important;
  }
  .index-content h4.stage-h4 {
    margin: 0px 0 10px 0 !important;
  }
  .video-index {
    margin: 0 0 55px;
    height: auto;
    position: relative;
    padding: 66px 0 40px;
  }
  .index-rew-block-img {
    float: left;
    width: 150px;
    height: 210px;
  }
  .index-rew-block-desc {
    margin: 0 0 0 165px;
    padding: 0 0px 0 0;
    height: 210px;
  }
  .index-rew-block-desc > strong {
    font-size: 15px;
    margin: 0 0 5px;
  }
  /* .el-overlay-dialog{
    background: #fff;
  } */
  .index-rew-block-desc > div {
    font-size: 13px;
    height: 83px;
    overflow: hidden;
    display: inline-block;
  }
  .rev-dialog {
    border-radius: 17px;
    padding: 85px 25px 25px 25px;
    width: 100% !important;
    margin: 0 !important;
    height: 100%;
  }
  .button-rew-index {
    margin: 3px 0 0;
    font-size: 12px !important;
  }
  .reviews-slide .swiper-slide {
    height: 220px;
  }
  .index-gall-desc {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 0px 0 0;
    margin: 0 0 20px;
  }
  .mobail-none {
    display: none !important;
  }
  .m-cat-nav {
    /* flex-wrap: nowrap;
    overflow-x: auto; */
  }
  .m-cat-nav > div {
    /* display: flex;
    flex-direction: row;
    padding: 0 0 10px !important;
    margin: 0 !important; */
  }
  .breadcrumb {
    margin: 60px 0 20px;
  }
  .breadcrumb ul li a {
    color: #000;
    font-size: 11px;
    opacity: 0.7;
  }
  .item-rew > h2 {
    margin: 20px 0 30px;
    font-size: 1.35em !important;
  }
  element.style {
  }
  .reviews-slide {
    margin: 0 0 0px;
  }
  .video-slide {
    margin: 0 0 60px;
  }
  .gall-slider {
    margin: 0px 0 70px;
  }
  .video-block-inf {
    padding: 35px 0px 15px;
  }
  .video-block-inf > h1 {
    width: 100%;
    font-size: 21px;
    line-height: 1.5;
  }
  .video-block-inf > h2 {
    width: 100%;
    margin: 46px 0 42px;
    font-size: 15px;
    opacity: 0.8;
    line-height: 1.5;
  }
  .item-rew-block-img {
    float: left;
    width: 140px;
    height: 150px;
  }
  .item-rew-block-desc {
    margin: 0 0 0 160px;
  }
  .item-rew-block-desc > strong {
    font-size: 16px;
    margin: 15px 0 0px;
    height: 60px;
  }
  .item-rew-block-desc > div {
    font-size: 14px;
    line-height: 1.4;
  }
  .project-block-desc {
    margin: 0px 0 50px;
    font-size: 15px;
  }
  .project-video {
    margin: 40px 0 40px;
    height: 360px;
  }
  .project-galeery {
    height: 240px;
    margin: 0 0 7px;
  }
  .mobail-colums-gal {
    margin-left: -0.35rem;
    margin-right: -0.35rem;
  }
  .mobail-colums-gal {
    max-height: 150px;
    overflow: hidden;
    padding: 0 4px;
  }
  .publick-review {
    font-size: 13px;
    line-height: 1.2;
    margin: 15px 0 5px;
    display: block;
  }
  .nav-review {
    margin: 10px 0 0 0;
  }
  .project-galeery-mini {
    height: 150px;
    padding: 0.35rem;
  }
  .project-block-city {
    margin: 0 0 15px;
    font-size: 15px;
  }
  .slider-one .swiper-slide {
    height: 400px;
  }
  .image-1-spechal {
    height: 400px !important;
  }
  .image-5-spechal,
  .image-6 {
    height: 180px !important;
  }
  .image-1 {
    height: 220px !important;
  }
  .video-slide .swiper-slide {
    height: 190px;
  }
  .nav-cat {
    padding: 0px 0 0 10px;
    font-size: 13px;
    height: 50px;
    min-width: 190px;
  }
  .m-flex {
    display: flex !important;
  }
  .el-collapse-item:last-child .el-collapse-item__header {
    /* border-bottom: none; */
  }
  .mobail-tabs {
    width: 100%;
    /* transform: translateX(-45vw); */
    padding: 0 15px;
  }
  .m-cat-nav {
    margin: 0px 0 20px;
    float: left;
    width: 100%;
  }
  .catalog-block-img {
    width: 45%;
    height: 160px;
  }
  .catalog-block-desc {
    width: 55%;
    height: 160px;
  }
  .catalog-block-desc > strong {
    font-size: 16px;
  }
  .video-index .index-b-modal {
    font-size: 14px !important;
    padding: 7px 12px !important;
    margin: 0 0 0px !important;
  }
  .stage-index-desc {
    font-size: 14px;
    line-height: 1.4;
  }
  .stage-index-desc ul {
    margin-top: 0;
  }
  .stage-index .el-collapse-item__wrap {
    padding: 0px 0px 0px 46px;
  }
  .hm-mobail {
    background: transparent !important;
    height: auto !important;
    padding: 0px 5px 0px 18px !important;
    border: none !important;
  }
  .hm-mobail .icon {
    height: 35px !important;
    width: 36px !important;
  }
  .navbar-phone-mobail {
    position: absolute;
    right: 45px;
  }
  .navbar-phone-mobail .el-tooltip__trigger {
    border: none;
    background: transparent;
    height: auto;
    padding: 0px 15px;
    transform: scaleX(-1);
  }

  .navbar-phone-mobail .el-tooltip__trigger .icon {
    height: 36px;
    width: 28px;
  }
}
